* {
    box-sizing: border-box;
  }


.card{background-color:white ;

}
body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 1000px;
    width: 1000px;
}
